body
{
  background-image: url(BB.jpg);
  background-attachment: fixed;
}
@media only screen and (max-device-width: 950px)
{
  body
  {
    background-image: url(BB.jpg);
    background-attachment: scroll;
  }
}
@media (max-width: 900px)
{
  #container1
  {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .firstbox
  {
    margin: 20px 0px 0px 0px;
  }
}
.card
{
  text-align:center;
  width: 20rem;
}
.carousel-indicators
{
  margin: 100px 500px 100px 500px;
}
a
{
  font-family: Arial;
  font-size: 35px;
  margin: 100px 100px 100px 100px;
  text-align: center;
  max-width:100%;
  height:auto;
}
nav
{
  height: auto;
  max-width:100%;
}
 header
 {
   background-color: white;
   height:auto;
 }
 section
 {
   height: auto;
   background-color: white;
   margin: 100px 100px 100px 100px;
 }
 .firstbox
 {
   margin: 10px 10px 10px 10px;
   height: 700px;
   font-size: 20px;
   width: 500px;
   text-align: center;
 }
 .secondbox
 {
   margin: 10px 10px 10px 10px;
   width: 500px;
   height: 700px;
   font-size: 20px;
   text-align: center;
 }
 .Lu
 {
   width: 300px;
   height: 300px;
 }
 .PreFooterSection
 {
   background-color: white;
   max-width:100%;
   height:auto;
   margin: 600px 0px 0px 0px;
   font-weight: bold;
   text-align: center;
   font-size: 28px;
 }
 footer
 {
   font-weight: bold;
   font-size: 15px;
   text-align: center;
   max-width:100%;
   height:auto;
 }
 #container
 {
   display: flex;
   align-items: center;
   flex-direction: column;
 }
 #flex-container
 {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width:100%;
   height:auto;
   width: 250%;
 }
 #carouselExampleSlidesOnly
 {
   display: flex;
   align-items: center;
   flex-direction: column;
 }
 #container1
 {
   display: flex;
   justify-content:space-around;
   align-items: center;
 }
